html, body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

#fork-button{
	position: fixed;
	right: 0;
	top: 0;
}

#level{
	position: absolute;
	left: 10px;
}

#score{
	position: absolute;
	right: 10px;
	top: 20px;
}

#top-score{
	position: absolute;
	right: 10px;
}

#main-container{
	max-width: 630px;
	margin: auto;
	min-height: 100%;
	position: relative;
}

footer, #footer-push{
	height: 100px;
}

footer{
	margin-top: -100px;
	z-index: 105;
	position: relative;
}

.b-char{
	display:inline-block;
	width: 40px;
	margin: 10px;
	box-shadow: 0 0 4px rgb(244, 244, 244);
	position: relative;
	vertical-align: top;
}

.b-char-row{
	
}

.b-char-letter, h1{
	text-align: center;
}

h1{
	margin: 0;
	font-family: monospace;
	letter-spacing: 6px;
}

p{
	font-family: monospace;
	text-align: center;
	margin-bottom: 0;
}

.b-char-cover{
	height: 100%;
	width: 40px;
	position: absolute;
}

.green{
	background: green;
	opacity: 0.1;
}

.b-dot{
	display:inline-block;
	width: 20px;
	height: 20px;
}

.b-dot.dark{
	/* IE10 Consumer Preview */ 
	background-image: -ms-radial-gradient(center, circle closest-side, #000000 15%, #FFFFFF 55%);
	
	/* Mozilla Firefox */ 
	background-image: -moz-radial-gradient(center, circle closest-side, #000000 15%, #FFFFFF 55%);
	
	/* Opera */ 
	background-image: -o-radial-gradient(center, circle closest-side, #000000 15%, #FFFFFF 55%);
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(radial, center center, 0, center center, 100, color-stop(0, #000000), color-stop(1, #FFFFFF));
	
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-radial-gradient(center, circle closest-side, #000000 15%, #FFFFFF 55%);
	
	/* W3C Markup, IE10 Release Preview */ 
	background-image: radial-gradient(circle closest-side at center, #000000 15%, #FFFFFF 55%);
}

#x-holder{
	background: white;
	z-index: 100;
	box-shadow: black 0 10px 38px 0px;
	width: 100%;
	max-width: 630px;
}

#x-holder .b-char{
	cursor: pointer;
}

.info-page, .options{
	z-index: 110;
	height: 100%;
	width: 100%;
	position: absolute;
	background: rgb(255, 255, 235);
}

.options{
	z-index: 120;
}

.button{
	cursor: pointer;
	margin: 10px;
	padding: 10px;
	background: rgb(201, 220, 248);
	border-radius: 10px;
	box-shadow: 0 0 3px 1px;
}
